$body-bg: rgb(248, 245, 245);

$body-color: rgba(10, 10, 10, 0.9);

$theme-colors: (
  'primary': #e986b8,
  'secondary': #524f51,
  'success': #771762,
  'info': #793f74,
  'warning': #ac2c90,
  'danger': #881963,
  'light': #c8c8c8,
  'dark': #2f2f2f
);

$box-shadow-lg: 0 1rem 3rem rgba(#2f2f2f, 0.175);

@import 'bootstrap/scss/bootstrap';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css';
